*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Be Vietnam', sans-serif;
    color:hsl(227, 12%, 61%);
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
    background-image: url(./../images/bg-tablet-pattern.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    height: 72px;
    align-items: center;
    align-self: center;
}
.company_logo{
    width: 150px;
    height: 50px;
    background-image: url(./../images/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    cursor: pointer;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}
.nav-links {
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav-links a{
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    margin: 0px 20px 0px 20px;
}
.nav-links a:hover{
    color: rgb(182, 178, 178);
}
.action_button button{
    color: white;
    border: none;
    border-radius: 30px;
    background-color: hsl(12, 88%, 59%);
    padding: 10px 30px;
    cursor: pointer;
    transition: all ease-in 0.2s ;
}
.action_button button:hover{
    color: rgb(218, 213, 213);
    box-shadow: 2px 2px 15px hsl(12, 100%, 39%) ;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.ad_flex_wrapper{
    display: flex;
    flex-direction: row;
    width: 95%;
    align-self: center;
    margin: 40px 0px 0px 0px;
}
.left_side_container{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.main_header{
    width: 90%;
    margin: 100px 0 0 0;
}
.main_header h1{
    color: hsl(233, 12%, 13%);
    font-size: 450%;
}
.main_description{
    width: 55%;
    margin: 40px 0 0 0;
}

.main_description p{
    text-align: justify;
}
.no_2{
    margin: 40px 0 0 0;
}
.right_side_container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.statistics{
    display: flex;
    /* background-color: gold; */
    width: 100%;
    height: auto;
    justify-content: flex-end;
}
.stat_pic{
    width: 90%;
    height: auto;
}
/*///////////////////////////////////////////////////////////////////////////*/
.aboutCompany{
    display: flex;
    width: 95%;
    margin: 170px 0 0 0;
    align-self: center;
    flex-direction: row;
    align-items: flex-start;
}

.leftAbout{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: start;
}

.leftAboutHeader{
    width: 100%;
    font-size: 180%;
}
.leftAboutHeader h1{
    color: hsl(233, 12%, 13%);
}

.leftAboutDescription{
    margin: 20px 0 0 0;
    width: 55%;
}
.leftAboutDescription p{
    text-align: justify;
}
.rightAbout{
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    align-items: flex-end;
}
.companySax {
    display: flex;
    width: 90%;
    flex-direction: column ;
    margin-bottom: 30px;
}
.saxTitle{
    display: flex;
    width: 100;
    flex-direction: row;
    margin-bottom: 10px;
}
.saxNo{
    display: flex;
    width: 80px;
    padding: 5px 30px;
    margin-right: 20px;
    background-color: hsl(12, 88%, 59%);
    border-radius: 15px;
    justify-content: center;
}
.saxNo h3{
    display: block;
    align-self: center;
    justify-self: center;
    color: white;
}

.saxHeading{
    color:hsl(233, 12%, 13%) ;
    display: flex;
    padding: 5px 0px;
    align-content: flex-start;
}
.saxContent{
    margin-left: 100px;
    text-align: justify;
}
.saxContent p{
    line-height: 30px;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.testimonials{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-content: center;
    scrollbar-width: none;  /* Firefox */
}
.testimonials
.testimonials_heading h1{
    color:  hsl(233, 12%, 13%) ;
    text-align: center;
    margin-bottom: 120px;
}
.testimonial_cards {
    overflow-x: scroll;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    scrollbar-width: none;  /* Firefox */
}
.testimonial_cards::-webkit-scrollbar{
    display: none;
}
.cards_wrapper{
    width: 200%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px 50px;
    margin: 0px auto;
    
}
.card {
    position: relative;
    display: flex;
    margin: 50px 10px;
    flex-direction: column;
    width: 460px;
    overflow: visible;
}
.avatar {
    position: absolute;
    left: 40%;
    top: -50px;
    width: 20%;
    margin: 0 auto;
}
.avatar img{
    width: 100%;
}
.card_content {
    background-color: rgb(235, 237, 245);
    text-align: center;
    border-radius: 10px;
    padding: 10% 5%;
}
.card_content h3{
    color: hsl(233, 12%, 13%);
    margin-top: 20px;
    margin-bottom: 20px;
}
.card_content p{
    line-height: 25px;
}
.no_3{
    margin: 50px auto;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.ad_for_action{
    background-image: url(../images/bg-simplify-section-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: hsl(12, 88%, 59%);
    padding: 50px 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ad_section h1{
    color: white;
    font-size: 50px;
    display: inline-block;
    width: 70%;
}
.no_4{
    display: flex;
}
.no_4 button{
    background-color: white;
    color:hsl(12, 88%, 59%);
    align-self: center;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 2.5%;
    background-color: hsl(233, 12%, 13%);
}
.top_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icons_section {
    display: flex;
    flex-direction: column;
}
.logo_section{
    margin-bottom: 100px;
}
.font_awsome_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons{
    color: white;
}
.link_section{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.link_1 ul,
.link_2 ul
{
    list-style: none;
}

.link_1 ul li,
.link_2 ul li
{
    margin: 0 0 10px 0;
}

.link_1 ul li a,
.link_2 ul li a{
    color: rgb(201, 195, 195);
    text-decoration: none;
}

.input_button_section{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;
}
.inbox_input{
    width: 250px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    margin-right: 10px;
}
.go_button button{
    padding: 10px 25px;
    border: none;
    border-radius: 30px;
    background-color: rgb(218, 56, 16);
    color: white;
    cursor: pointer;
    transition: all ease-in 0.2s ;
}

.go_button button:hover{
    color: rgb(131, 130, 130);
    box-shadow: 2px 2px 15px hsl(12, 100%, 39%);
    background-color: burlywood;
}
.copyrt{
    margin-left: auto;
    color: hsl(0, 0%, 98%);
}

@media only screen and (max-width: 992px){
    body{
        background-repeat: repeat-y;
        background-size: 100% auto;
    }
    header{
        width: 100%;
    }
    .disable_scroll{
        height: 100vh;
        min-height:640px;
        overflow-y: hidden;
    }
    .disp_none{
        display: none;
    }
    .company_logo{
        margin-right: auto;
        margin-left: 5px;
    }
    .navbar {
        width: 100vw;
        height: 100vh;
        min-height: 640px;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8) );
        position: absolute;
        top: 0%;
        overflow: scroll;
    }
    .nav-links{
        background-color: white;
        width: 300px;
        height: 320px;
        display: flex;
        flex-direction: column;
        overflow: visible;
        justify-content: center;
        transition: opacity 0.2s ease-in;
        opacity: 0;
    }
    .isOpen{
        opacity: 1;
    }
    .nav-links a{
        margin: 15px auto;
    }
    .nav_button{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        width: 36px;
        height: 36px;
        right: 18px;
        top: 12px;
        z-index: 10;
        cursor: pointer;
    }
    .humburgers{
        width: 70%;
        height:3px;
        margin: 2px 0px;
        background-color: black;
    }
    .clicked{
        background-color: transparent;
    }
    .changeBg{
        background-image: url(./../images/icon-close.svg);
        background-position: center;
        background-size: 70% auto;
        background-repeat: no-repeat;
    }
    .no_1 {
        display: none;
    }
/*///////////////////////////////////////////////////////////////////////////*/
    .ad_flex_wrapper{
        flex-direction: column;
        margin-top: 50px;
    }
    .left_side_container{
        width: 100%;
        order: 2;
    }
    .right_side_container{
        width: 100%;
        order:1;
    }
    .main_header{
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }
    .main_header h1{
        font-size: 40px;
    }
    .main_description{
        width: 90%;
        justify-self: center;
        align-self: center;
    }
    .main_description p{
        text-align: center;
        line-height: 30px;
    }
    .no_2{
        margin-left: auto;
        margin-right: auto;
    }
/*///////////////////////////////////////////////////////////////////////////////////*/
    .aboutCompany{
        margin-top: 70px;
        flex-direction: column;
        align-items: center;
    }
    .leftAbout{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 50px;
    }
    .leftAboutHeader{
        width: 90%;
        align-self: center;
    }
    .leftAboutHeader h1{
        font-size: 35px;
        text-align: center;
    }
    .leftAboutDescription{
        width: 90%;
        align-self: center;
        line-height: 30px;
    }
    .leftAboutDescription p{
        text-align: center;
    }
    .rightAbout{
        width: 100%; 
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .companySax {
        width: 100%;
    }
    .saxNo{
        display: flex;
        width: 45px;
        padding: 5px 10px;
        margin-right: 10px;
    }
    .saxContent{
        margin-left: 0px;
        text-align: justify;
    }
/*/////////////////////////////////////////////////////////////////////////////////////*/
    .testimonial_cards{
        width: 100vw;
    }
    .cards_wrapper{
        width: 2400px;
    }
    .card {
        width: 360px;
    }
    /* .card-2, .card-3, .card-4 {
        display: none;
    } */
    .avatar {
        left: 40%;
        top: -40px;
    }
    .card_content p{
        margin: 0px auto;
        text-align: center;
        line-height: 30px;
        width: 90%;
    }
/*////////////////////////////////////////////////////////////////////////////////////////*/
    .ad_for_action{
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .ad_section{
        text-align: center;
    }
    
    .ad_section h1{
        color: white;
        font-size: 50px;
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    .no_4 button{
        background-color: white;
        color:rgb(218, 56, 16);
        align-self: center;
        margin: 20px auto 0px auto;
    }
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    footer{
        flex-direction: column;
        justify-content: space-between;
        padding: 50px 2.5%;
        background-color: rgb(3, 3, 26);
    }
    .top_wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .input_button_section{
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        order: 1;
    }
    .link_section{
        width: 100%;
        order: 2;
        margin-bottom: 40px;
    }
    .icons_section {
        order: 3;
    }
    .font_awsome_section{
        margin: 0 auto 40px auto;
        width: 60%;
    }
    .logo_section{
        order: 2;
        margin-bottom: 40px;
        width: 100%
    }
    .logo_section img{
        display: block;
        width: 55%;
        margin: 0px auto;
    }
    .copyrt{
        margin: 0px auto;
        color: rgb(117, 135, 161);
    }
}

@media only screen and (max-width: 576px){
/*///////////////////////////////////////////////////////////////////////////*/
    .ad_flex_wrapper{
        flex-direction: column;
        margin-top: 50px;
    }
    .left_side_container{
        width: 100%;
        order: 2;
    }
    .right_side_container{
        width: 100%;
        order:1;
    }
    .main_header{
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }
    .main_header h1{
        font-size: 40px;
    }
    .main_description{
        width: 90%;
        justify-self: center;
        align-self: center;
    }
    .main_description p{
        text-align: center;
        line-height: 30px;
    }
    .no_2{
        margin-left: auto;
        margin-right: auto;
    }
/*/////////////////////////////////////////////////////////////////////////////////////*/
    /* .card {
        width: 100%;
    } */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    .font_awsome_section{
        width: 80%;
    }
}